/* Place your custom SCSS in HUGO_SITE_FOLDER/assets/scss/custom.scss */

// Nord colors
:root {
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;
  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;
}


$defaultTagBackgrounds: var(--nord14), var(--nord12), var(--nord10), var(--nord13), var(--nord15);
$defaultTagColors: var(--nord6), var(--nord6), var(--nord6), var(--nord6), var(--nord6);

[data-scheme="light"] {
    --pre-text-color: var(--nord1);
    --pre-background-color: var(--nord8);
}

[data-scheme="dark"] {
    --pre-text-color: var(--nord8);
    --pre-background-color: var(--nord1);
}

/*
*   Global style
*/
:root {
    @include respond(md) {
        --main-top-padding: 35px;
    }

    @include respond(xl) {
        --main-top-padding: 50px;
    }

    --body-background: var(--nord5);

    --accent-color: var(--nord9);
    --accent-color-darker: var(--nord8);
    --accent-color-text: var(--nord10);
    --body-text-color: var(--nord1);

    --tag-border-radius: 4px;

    --section-separation: 40px;

    --scrollbar-thumb: var(--nord3);
    --scrollbar-track: var(--body-background);

    &[data-scheme="dark"] {
        --body-background: var(--nord1);
        --accent-color: var(--nord9);
        --accent-color-darker: var(--nord8);
        --accent-color-text: var(--nord10);
        --body-text-color: var(--nord6);
        --scrollbar-thumb: var(--nord4);
        --scrollbar-track: var(--body-background);
    }
}

/**
*   Global font family
*/
:root {
    @import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&family=Proza+Libre:ital@0;1&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&display=swap');
    --sys-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Droid Sans", "Helvetica Neue";
    --zh-font-family: "PingFang SC", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei";

    --base-font-family: "Proza Libre", sans-serif;
    --code-font-family: "Inconsolata", monospace;
}

/*
*   Card style
*/
:root {
    --card-background: var(--nord6);
    --card-background-selected:   rgba(59,66,82, 0.16);
    --card-text-color-main:       rgba(59,66,82, 0.9);
    --card-text-color-secondary:  rgba(59,66,82, 0.7);
    --card-text-color-tertiary:   rgba(59,66,82, 0.5);
    --card-separator-color:       rgba(59,66,82, 0.12);

    --card-border-radius: 10px;

    --card-padding: 20px;

    @include respond(md) {
        --card-padding: 25px;
    }

    @include respond(xl) {
        --card-padding: 30px;
    }

    --small-card-padding: 25px 20px;

    @include respond(md) {
        --small-card-padding: 25px;
    }

    &[data-scheme="dark"] {
        --card-background: var(--nord2);
        --card-background-selected: rgba(236, 239, 244, 0.16);
        --card-text-color-main:     rgba(236, 239, 244, 0.9);
        --card-text-color-secondary:rgba(236, 239, 244, 0.7);
        --card-text-color-tertiary: rgba(236, 239, 244, 0.5);
        --card-separator-color:     rgba(236, 239, 244, 0.12);
    }
}

/**
*   Article content font settings
*/
:root {
    --article-font-family: var(--base-font-family);
    --article-font-size: 1.6rem;

    @include respond(md) {
        --article-font-size: 1.7rem;
    }

    --article-line-height: 1.85;
}

/*
*   Article content style
*/
:root {
    --blockquote-border-size: 4px;
    --blockquote-background-color: var(--nord6);

    --heading-border-size: 4px;

    --link-background-color: 189, 195, 199;
    --link-background-opacity: 0.5;
    --link-background-opacity-hover: 0.7;

    --pre-background-color: var(--nord5);
    --pre-text-color: var(--nord1);

    --code-background-color: var(--nord5);
    --code-text-color: var(--nord0);

    --table-border-color: var(--nord5);
    --tr-even-background-color: var(--nord6);

    &[data-scheme="dark"] {
        --code-background-color: var(--nord1);
        --code-text-color: var(--nord5);

        --table-border-color: var(--nord1);
        --tr-even-background-color: var(--nord3);

        --blockquote-background-color: var(--nord3);

        --pre-background-color: var(--nord0);
        --pre-text-color: var(--nord5);

    }
}

/*
*   Shadow style
*   Thanks to https://www.figma.com/community/plugin/744987207861965946/Shadow-picker
*/
:root {
    --shadow-l1: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    --shadow-l2: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    --shadow-l3: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    --shadow-l4: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
        0px 0px 1px rgba(0, 0, 0, 0.04);
}
