/*
*   Style: monokailight
*   https://xyproto.github.io/splash/docs/monokailight.html
*/

/* Background */
.chroma {
    color: #3b4252;
    background-color: #e5e9f0;
}

/* Other */
.chroma .x {}

/* Error */
.chroma .err {
    color: #99324B;
}

/* LineTableTD */
.chroma .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0;
}

/* LineTable */
.chroma .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
    width: auto;
    overflow: auto;
    display: block;
}

/* LineHighlight */
.chroma .hl {
    display: block;
    width: 100%;
    background-color: #5e81ac
}

/* LineNumbersTable */
.chroma .lnt {
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #4c566a
}

/* LineNumbers */
.chroma .ln {
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #4c566a
}

/* Keyword */
.chroma .k {
    color: #81a1c1
}

/* KeywordConstant */
.chroma .kc {
    color: #81a1c1
}

/* KeywordDeclaration */
.chroma .kd {
    color: #81a1c1
}

/* KeywordNamespace */
.chroma .kn {
    color: #bf616a
}

/* KeywordPseudo */
.chroma .kp {
    color: #81a1c1
}

/* KeywordReserved */
.chroma .kr {
    color: #81a1c1
}

/* KeywordType */
.chroma .kt {
    color: #81a1c1
}

/* Name */
.chroma .n {
    color: #2e3440
}

/* NameAttribute */
.chroma .na {
    color: #a3be8c
}

/* NameBuiltin */
.chroma .nb {
    color: #2e3440
}

/* NameBuiltinPseudo */
.chroma .bp {
    color: #2e3440
}

/* NameClass */
.chroma .nc {
    color: #a3be8c
}

/* NameConstant */
.chroma .no {
    color: #81a1c1
}

/* NameDecorator */
.chroma .nd {
    color: #a3be8c
}

/* NameEntity */
.chroma .ni {
    color: #2e3440
}

/* NameException */
.chroma .ne {
    color: #a3be8c
}

/* NameFunction */
.chroma .nf {
    color: #a3be8c
}

/* NameFunctionMagic */
.chroma .fm {
    color: #2e3440
}

/* NameLabel */
.chroma .nl {
    color: #2e3440
}

/* NameNamespace */
.chroma .nn {
    color: #2e3440
}

/* NameOther */
.chroma .nx {
    color: #a3be8c
}

/* NameProperty */
.chroma .py {
    color: #2e3440
}

/* NameTag */
.chroma .nt {
    color: #bf616a
}

/* NameVariable */
.chroma .nv {
    color: #2e3440
}

/* NameVariableClass */
.chroma .vc {
    color: #2e3440
}

/* NameVariableGlobal */
.chroma .vg {
    color: #2e3440
}

/* NameVariableInstance */
.chroma .vi {
    color: #2e3440
}

/* NameVariableMagic */
.chroma .vm {
    color: #2e3440
}

/* Literal */
.chroma .l {
    color: #b48ead
}

/* LiteralDate */
.chroma .ld {
    color: #d08770
}

/* LiteralString */
.chroma .s {
    color: #d08770
}

/* LiteralStringAffix */
.chroma .sa {
    color: #d08770
}

/* LiteralStringBacktick */
.chroma .sb {
    color: #d08770
}

/* LiteralStringChar */
.chroma .sc {
    color: #d08770
}

/* LiteralStringDelimiter */
.chroma .dl {
    color: #d08770
}

/* LiteralStringDoc */
.chroma .sd {
    color: #d08770
}

/* LiteralStringDouble */
.chroma .s2 {
    color: #d08770
}

/* LiteralStringEscape */
.chroma .se {
    color: #842879
}

/* LiteralStringHeredoc */
.chroma .sh {
    color: #d08770
}

/* LiteralStringInterpol */
.chroma .si {
    color: #d08770
}

/* LiteralStringOther */
.chroma .sx {
    color: #d08770
}

/* LiteralStringRegex */
.chroma .sr {
    color: #d08770
}

/* LiteralStringSingle */
.chroma .s1 {
    color: #d08770
}

/* LiteralStringSymbol */
.chroma .ss {
    color: #d08770
}

/* LiteralNumber */
.chroma .m {
    color: #b48ead
}

/* LiteralNumberBin */
.chroma .mb {
    color: #b48ead
}

/* LiteralNumberFloat */
.chroma .mf {
    color: #b48ead
}

/* LiteralNumberHex */
.chroma .mh {
    color: #b48ead
}

/* LiteralNumberInteger */
.chroma .mi {
    color: #b48ead
}

/* LiteralNumberIntegerLong */
.chroma .il {
    color: #b48ead
}

/* LiteralNumberOct */
.chroma .mo {
    color: #b48ead
}

/* Operator */
.chroma .o {
    color: #bf616a
}

/* OperatorWord */
.chroma .ow {
    color: #bf616a
}

/* Punctuation */
.chroma .p {
    color: #2e3440
}

/* Comment */
.chroma .c {
    color: #aebacf
}

/* CommentHashbang */
.chroma .ch {
    color: #aebacf
}

/* CommentMultiline */
.chroma .cm {
    color: #aebacf
}

/* CommentSingle */
.chroma .c1 {
    color: #aebacf
}

/* CommentSpecial */
.chroma .cs {
    color: #aebacf
}

/* CommentPreproc */
.chroma .cp {
    color: #aebacf
}

/* CommentPreprocFile */
.chroma .cpf {
    color: #aebacf
}

/* Generic */
.chroma .g {}

/* GenericDeleted */
.chroma .gd {}

/* GenericEmph */
.chroma .ge {
    font-style: italic
}

/* GenericError */
.chroma .gr {}

/* GenericHeading */
.chroma .gh {}

/* GenericInserted */
.chroma .gi {}

/* GenericOutput */
.chroma .go {}

/* GenericPrompt */
.chroma .gp {}

/* GenericStrong */
.chroma .gs {
    font-weight: bold
}

/* GenericSubheading */
.chroma .gu {}

/* GenericTraceback */
.chroma .gt {}

/* GenericUnderline */
.chroma .gl {}

/* TextWhitespace */
.chroma .w {}
